body{
    margin-top:250px;

    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.loader{
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    animation: animate 1.2s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);

}

.loader span:nth-child(1){
    filter : blur(1px);
}

.loader span:nth-child(2){
    filter : blur(5px);
}

.loader span:nth-child(3){
    filter : blur(10px);
}

.loader span:nth-child(4){
    filter : blur(15px);
}

.loader:after{
    content :'';
    position : absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border-radius: 50%;
    border: 1px solid white;


}

/*Loader Left*/

.loaderl{
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    animation: animate 1.2s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loaderl span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);

}

.loaderl span:nth-child(1){
    filter : blur(1px);
}

.loaderl span:nth-child(2){
    filter : blur(5px);
}

.loaderl span:nth-child(3){
    filter : blur(10px);
}

.loaderl span:nth-child(4){
    filter : blur(15px);
}

.loaderl:after{
    content :'';
    position : absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border-radius: 50%;
    border: 1px solid white;


}
/*Loader Right*/

.loaderr{
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    animation: animate 1.2s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loaderr span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);

}

.loaderr span:nth-child(1){
    filter : blur(1px);
}

.loaderr span:nth-child(2){
    filter : blur(5px);
}

.loaderr span:nth-child(3){
    filter : blur(10px);
}

.loaderr span:nth-child(4){
    filter : blur(15xp);
}

.loaderr:after{
    content :'';
    position : absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border-radius: 50%;
    border: 1px solid white;


}